//Created by lailai on 2017/4/28.
.container
   .row
      .col-sm-6.col-md-4
         .thumbnail(style={'background-color':'#d9edf7'})
            h3 计算器
               if data
                  input#content(type="text",value="#{data}" style={'height':'90px','width':'350px'})
               else
                  input#content(type="text" style={'height':'90px','width':'350px'})
            .list-group
               input#num1(type="radio")
               label 一般模式
               input#num2(type="radio")
               label 贷款模式
               input#num3(type="radio")
               label 收款机
            .list-group
               span


