//Created by lailai on 2017/4/28.
doctype
html
   head
      meta(http-equiv="content-type" content="text/html;charset=utf-8")
      title #{title}
      include ./includes/head.jade
   body(style={'padding-top':'50px','margin':'0'})
      .container(style={'margin-left':'500px'})
         include ./includes/header.jade
            .caption(style={'margin-bottom':'0'})
               block content
