//Created by lailai on 2017/4/28.
doctype
html
   head
      meta(http-equiv="content-type" content="text/html;charset=utf-8")
      title #{title}
      include ./includes/head.jade
   body(style={'padding-bottom':'50px'})
      include ./includes/header.jade
      block content
